AsyncLogging/bin/*
/AsyncLogging.Tests/obj
/AsyncLogging.Tests/bin
/AsyncLogging/obj
/AsyncLogging/bin
AsyncLogging.sln.DotSettings.user
AsyncLogging.v12.suo
packages/NUnit.2.6.3/lib/nunit.framework.dll
packages/NUnit.2.6.3/lib/nunit.framework.xml
packages/NUnit.2.6.3/license.txt
packages/NUnit.2.6.3/NUnit.2.6.3.nupkg
AsyncLogging/AsyncLogging.csproj.user
