<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsyncLogging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AsyncLogging.Properties.Settings>
            <setting name="LoggerType" serializeAs="String">
                <value>File</value>
            </setting>
            <setting name="ConnectionName" serializeAs="String">
                <value>RsAudit</value>
            </setting>
            <setting name="LogfileFullName" serializeAs="String">
                <value>~/App_Data/RequestLog.txt</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="StatusCodes" serializeAs="String">
                <value>200|500|600</value>
            </setting>
            <setting name="SqlInsertStatement" serializeAs="String">
                <value>INSERT [ServerRequestLogs]
            ([RequestDate],[RequestDateInTicks],[RequestBy],[RequestMethod],[RequestUrl],[RequestBody],[ResponseCode],[ResponseBody],[Host],[CreatedOn])
            VALUES(@RequestDate,@RequestDateInTicks,@RequestBy,@RequestMethod,@RequestUrl,@RequestBody,@ResponseCode,@ResponseBody,@Host,@CreatedOn)</value>
            </setting>
            <setting name="ContentTypes" serializeAs="String">
                <value>json|xml|html|text</value>
            </setting>
        </AsyncLogging.Properties.Settings>
    </applicationSettings>
</configuration>